* {
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}


address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;

}

.header-navigation {
  display: flex;
  align-items: center;

}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
}

.part-logo {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item {}

.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contacts-item {}

.header-contacts-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* main theme */

.hero-section {
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  padding-bottom: 48px;
}

.order-service-button {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* features */

.features {}

.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}


.features-item {
  max-width: 264px;
}

.icon-rectangle {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
}

.features-icon {
  display: block;
  fill: none;
  stroke: #2E2F42;
  margin: 24px auto;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 8px;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* team */
.team {
  display: flex;
  background-color: #f4f4fd;
}



.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-item {
  padding: 32px 0;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-image {}

.team-image-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;

}

.team-image-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-media {
  display: inline-block;
  gap: 24px;

}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.social-media-link {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 12px;
  background-color: #4d5ae5;
}

.social-media-icon {
  fill: #f4f4fd;
}

/* our portfolio */

.portfolio {
  display: flex;

}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  background-color: #fff;
}

.portfolio-image {}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-subtitle-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

.portfolio-frame {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* footer */

.footer {
  display: flex;
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
  margin-left: 156px;
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;

}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-media-ftext {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}